networks:
  oupharmacy_network:
    driver: bridge

services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    networks:
      - oupharmacy_network
    ports:
      - "${BACKEND_PORT}:8000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env.production
    environment:
      - DATABASE_URL_PG=postgresql://${DB_PG_USER}:${DB_PG_PASSWORD}@db:${DB_CONTAINER_INTERNAL_PORT}/${DB_PG_NAME_DEFAULT}
      - STORE_DATABASE_URL_PG=postgresql://${DB_PG_USER}:${DB_PG_PASSWORD}@db:${DB_CONTAINER_INTERNAL_PORT}/${DB_PG_NAME_STORE}
    expose: 
      - ${BACKEND_PORT}
  db:
    image: postgres:15
    networks: 
      - oupharmacy_network
    env_file:
      - .env.production
    environment:
      - POSTGRES_PASSWORD=${DB_PG_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_PG_USER}
      - DB_PG_NAME_DEFAULT=${DB_PG_NAME_DEFAULT}
      - DB_PG_NAME_STORE=${DB_PG_NAME_STORE}
    container_name: postgres
    ports:
      - "${DB_CONTAINER_EXTERNAL_PORT}:${DB_CONTAINER_INTERNAL_PORT}"
    expose: 
      - ${DB_CONTAINER_INTERNAL_PORT}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_PG_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  db_data: