networks:
  oupharmacy_network:
    driver: bridge

services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    networks:
      - oupharmacy_network
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env.production
    environment:
      - DATABASE_URL_PG=postgresql://${DB_PG_USER}:${DB_PG_PASSWORD}@db:5432/${DB_PG_NAME_DEFAULT}
      - STORE_DATABASE_URL_PG=postgresql://${DB_PG_USER}:${DB_PG_PASSWORD}@db:5432/${DB_PG_NAME_STORE}
    expose: 
      - 8000
  db:
    image: postgres:15
    networks: 
      - oupharmacy_network
    env_file:
      - .env.production
    environment:
      - POSTGRES_PASSWORD=${DB_PG_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_PG_USER}
      - DB_PG_NAME_DEFAULT=${DB_PG_NAME_DEFAULT}
      - DB_PG_NAME_STORE=${DB_PG_NAME_STORE}
    container_name: postgres
    ports:
      - "5433:5432"
    expose: 
      - 5432
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_PG_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  db_data: